
html {
 /* background: url("./pics/techBack.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  z-index:-5;
  background-color:black;
}
#particles-js{
  position: absolute;
  height:100%;
  width:100%;
  left:0px;
  top:0px;
  z-index:-4;
  background-color: black;
}
#mainMenu{
  position: absolute;
  width:60%;
  left:20%;
  height:60%;
  top:20%;
  z-index:-4;
}
#mainMenu img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
    z-index: -4;
}
#menuText{
  position:absolute;
  width:40%;
  left:30%;
  height:30%;
  top:35%;
  z-index: -3;
}
#menuText img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 100%;
  z-index: -3;
}
#menuItem1{
  position:absolute;
  width:25%;
  height:25%;
  left:10%;
  top:10%;

  z-index: -2;
}
#menuItem2{
  position:absolute;
  width:25%;
  height:25%;
  left:65%;
  top:10%;
  z-index: -2;
}
#menuItem3{
  position:absolute;
  width:25%;
  height:25%;
  left:10%;
  top:70%;

  z-index: -2;
}
#menuItem4{
  position:absolute;
  width:25%;
  height:25%;
  left:65%;
  top:70%;

  z-index: -2;
}
.imgGood img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 100%;
  z-index: -3;
}
