html {
  background: url("./pics/background2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  z-index:-5;
}
#center{
  position: absolute;
  width:25%;
  left:37.5%;
  height:25%;
  top:37.5%;
  z-index:-4;
}
#center img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
    z-index: -4;
}
#menuItem1{
  position:absolute;
  width:25%;
  height:25%;
  left:10%;
  top:37.5%;

  z-index: -2;
}
#menuItem2{
  position:absolute;
  width:25%;
  height:25%;
  left:65%;
  top:37.5%;
  z-index: -2;
}
#menuItem3{
  position:absolute;
  width:25%;
  height:25%;
  left:37.5%;
  top:7.5%;
  z-index: -2;
}
.imgGood img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 100%;
  z-index: -3;
}
#homer{
  position: absolute;
  z-index: -4;
  width:25%;
  height:20%;
  bottom:7.5%;
  left:37.5%;
}
#homer img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
    z-index: -4;
}
#item3Info, #item1Info, #item2Info{
  position: absolute;
  width:50%;
  height:50%;
  background-color: rgb(255,255,255);
  left:25%;
  top:25%;
  z-index:-1;
  padding:10px;
  text-align: center;
  padding-top: 10px;
  font-size: 22px;
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 22px;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}
